@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

@media (min-width: 1400px) {
	div.container {
		max-width: 1400px;
	}
}

html,
body {
	font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
	color: #323232 !important;
	background-color: #faf9fc !important;
	font-size: 0.9rem;
}

a.text-green {
	color: #04ab55 !important;
	text-decoration: none !important;
}

a.text-green:hover {
	text-decoration: underline !important;
}

h3 {
	color: #52546c;
	font-weight: 500 !important;
}

.title {
	color: #52546c;
}

.mt-100 {
	margin-top: 100px;
}

.navbar.navbar-expand-lg {
	background-color: #faf9fc !important;
	border-bottom: 1px solid #e6e9ec;
}

.dropdown-toggle.no-arrow::after {
	display: none;
}

.nav-link.active {
	font-weight: 500;
	border-bottom: 3px solid #04ab55;
	margin-bottom: -3px !important;
}

.btn {
	border-radius: 4px !important;
}

.btn:focus,
.btn:active {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.btn-primary {
	background-color: #04ab55 !important;
	border-color: #04ab55 !important;
}

.btn-primary:hover {
	background-color: #0fa658 !important;
	border-color: #0fa658 !important;
}

.btn-outline-dark {
	border-color: #e2f5d5 !important;
	background-color: #ebfde0 !important;
}

.btn-outline-dark:hover {
	color: inherit !important;
	background-color: #e2f5d5 !important;
}

.card {
	border-radius: 12px !important;
	overflow: hidden;
}

.form-control {
	border-color: #faf9fc !important;
	/* border-color: #ecf3f0 !important; */
	padding: 0.8rem 1.5rem !important;
	/* border-radius: 6px !important; */
}

.form-control.shadow-sm:focus,
.form-control.shadow-sm:active {
	box-shadow: 0 2px 40px rgba(162, 154, 169, 0.278) !important;
	border: 1px solid #d6b7ec !important;
}

input.form-control::placeholder,
::-moz-placeholder,
::-webkit-input-placeholder {
	color: #e5e2e2 !important;
}

div.shadow-sm {
	box-shadow: 0 16px 40px rgba(162, 154, 169, 0.2) !important;
}

.box-plant {
	border: 1px solid #e5e2e2;
	background-color: white;
}

.box-container {
	display: flex;
	width: 100%;
	box-sizing: border-box;
}

/* the slides */
.plant-slider .slick-slide {
	margin-left: 27px;
}

/* the parent */
.plant-slider .slick-list {
	margin-left: -27px;
}

/* biar margin kiri normal */
.plant-slider {
	margin-left: 27px;
}

.plant-slider .slick-track {
	/* transform: translate3d(0px, 0px, 0px); */
	padding-bottom: 4rem;
}
